/* ::::: https://s10.mogucdn.com/__newtown/mogu-global/assets/pc/common/base/css/index.css-3039fcc4.css,newtown/mogu-global/assets/pc/common/captcha/captcha.css-1441bc4f.css,newtown/mogu-global/assets/pc/common/nav/index.css-b7ac5166.css,newtown/mogu-global/assets/pc/common/im/index.css-315d2d53.css,newtown/mogu-global/assets/pc/common/promotion/nav-mogu-act.css-2779b85c.css,newtown/mogu-global/assets/pc/common/header/index.css-98f5e617.css,newtown/mogu-global/assets/pc/common/lightbox/lightbox.css-05ddd8a3.css,newtown/mogu-global/assets/pc/common/login/index.css-6874b94e.css ::::: */

body, dd, dl, form, ol, p, ul { margin: 0px; }
ol, ul { padding: 0px; list-style: outside none none; }
body, html { color: rgb(51, 51, 51); }
body, button, input, select, textarea { font: 12px/1.6 tahoma,arial,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; margin: 0px; }
button, input, select, textarea { font-size: 100%; }
a { text-decoration: none; color: rgb(51, 51, 51); }
a img { border: 0px none; vertical-align: middle; }
input, textarea { margin: 0px; padding: 0px; outline: medium none; }
table { border-collapse: collapse; border-spacing: 0px; }
.fl { float: left; }
.fl, .fr {  }
.fr { float: right; }
.mt10 { margin-top: 10px ! important; }
.mr10 { margin-right: 10px ! important; }
.ml15 { margin-left: 15px ! important; }
.clearfix::after { content: "."; display: block; height: 0px; font-size: 0px; clear: both; visibility: hidden; }
.clearfix {  }
.display_u { display: inline-block; }
.media_screen_1200 { min-width: 1200px; }
.media_screen_1200 .wrap { width: 1200px; margin-left: auto; margin-right: auto; }
.header_2015 { margin-bottom: 0px; background: rgb(242, 242, 242) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(221, 221, 221); height: 31px; }
.header_2015 .home { background: transparent url('o613k_ieygizrthfrdgyzymiytambqgqyde_15x26.png') no-repeat scroll 0px -5px; padding: 0px 20px; display: inline-block; line-height: 30px; vertical-align: top; margin-left: 20px; height: 30px; }
.header_2015 .header_top { float: right; }
.header_2015 .header_top .s1 { display: inline; position: relative; z-index: 100; float: left; margin: 0px 15px 0px 0px; height: 31px; }
.header_2015 .header_top .s1 a { float: left; overflow: hidden; margin-top: 8px; color: rgb(102, 102, 102); line-height: 14px; }
.header_2015 .header_top .s1:hover .ext_mode, .header_2015 .header_top .s1_on .ext_mode { display: block; }
.header_2015 .header_top .has_line > a { padding-left: 15px; border-left: 1px solid rgb(221, 221, 221); }
.header_2015 .header_top .has_icon { padding-right: 10px; }
.header_2015 .header_top .custom_item .icon_delta, .header_2015 .header_top .shoppingcard .icon_delta, .header_2015 .header_top .user_fav .icon_delta, .header_2015 .header_top .user_meta .icon_delta { position: absolute; width: 7px; height: 5px; top: 14px; right: 0px; background: transparent url('o613k_ieygizrthfrdgyzymiytambqgqyde_15x26.png') repeat scroll 0px 0px; }
.header_2015 .header_top .myorder { background: transparent url('upload_ie2wmzdehazwkztdgmzdambqhayde_100x400.png') no-repeat scroll 20px -212px; }
.header_2015 .header_top .myorder a { padding-left: 38px; }
.header_2015 .header_top .myxiaodian { margin-right: 0px; background: transparent url('upload_ie2wmzdehazwkztdgmzdambqhayde_100x400.png') no-repeat scroll 12px -250px; }
.header_2015 .header_top .myxiaodian a { padding-left: 35px; }
.header_2015 .header_top .ext_mode { display: none; position: absolute; z-index: 999; width: 90px; top: 100%; left: -10px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 0px 0px 3px 3px; }
.header_2015 .header_top .custom_item .ext_mode { width: 100px; }
.header_2015 .header_top .s2 { margin-bottom: 2px; }
.header_2015 .header_top .s2 a { float: none; display: block; height: 28px; line-height: 28px; padding: 0px 20px; margin: 0px; overflow: hidden; color: rgb(68, 68, 68); }
.header_2015 .header_top .s2 .on, .header_2015 .header_top .s2 a:hover { background: rgb(228, 228, 228) none repeat scroll 0% 0%; }
.header_2015 .header_top .shopping_cart_v2 { background: transparent url('upload_ie2wmzdehazwkztdgmzdambqhayde_100x400.png') no-repeat scroll 12px -104px; }
.header_2015 .header_top .shopping_cart_v2 > a { padding-left: 38px; }
.header_2015 .header_top .shopping_cart_v2 .cart_info_wrap { position: relative; z-index: 10; display: inline-block; }
.header_2015 .header_top .shopping_cart_v2 .cart_info { display: inline-block; color: rgb(51, 51, 51); cursor: pointer; }
.header_2015 .header_top .shopping_cart_v2 .shopping_cart_loading { display: none; position: absolute; right: 0px; top: 31px; left: -90px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; border-radius: 0px 0px 5px 5px; border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; width: 200px; padding: 18px 0px; text-align: center; color: rgb(153, 153, 153); height: 18px; line-height: 18px; z-index: 1; }
.foot { overflow: hidden; margin-top: 90px; font-size: 12px; background: rgb(251, 251, 251) url('foot_ieydomrxmfswgnrymiytambqhayde_24x160.png') repeat-x scroll center top; }
.foot a:hover { text-decoration: underline; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
.mgj_rightbar { position: fixed; height: 100%; z-index: 9999; top: 0px; width: 30px; right: 0px; color: rgb(255, 255, 255); font-size: 12px; background: rgb(32, 32, 32) none repeat scroll 0% 0%; }
.mgj_rightbar #mgj_rightbar_blank_div { position: relative; top: 0px; right: 0px; height: 10%; width: 30px; }
.mgj_rightbar .sidebar-item { position: relative; padding: 4px 4px 0px; text-align: center; background: rgb(32, 32, 32) none repeat scroll 0% 0%; }
.mgj_rightbar .sidebar-item:hover { background-color: rgb(239, 47, 35); margin-top: -1px; }
.mgj_rightbar .sidebar-item:hover a { border-bottom: 0px none; padding-top: 1px; padding-bottom: 13px; }
.mgj_rightbar .sidebar-item a { display: block; color: rgb(255, 255, 255); text-align: center; line-height: 15px; border-bottom: 1px solid rgba(221, 221, 221, 0.6); padding-bottom: 12px; }
.mgj_rightbar .sidebar-item a .num { display: none; width: 20px; height: 20px; border-radius: 30px; color: rgb(255, 255, 255); text-align: center; line-height: 20px; background-color: rgb(239, 47, 35); margin-top: 5px; }
.mgj_rightbar .sidebar-item a:hover .num { color: rgb(239, 47, 35); background-color: rgb(255, 255, 255); }
.mgj_rightbar .sidebar-item .s-icon { background-position: -5px center; background-repeat: no-repeat; width: 30px; height: 30px; display: block; }
.mgj_rightbar .sideBottom { position: absolute; bottom: 10px; width: 30px; }
.mgj_rightbar .mgj-my-avatar:hover { background-color: rgb(32, 32, 32); }
.mgj_rightbar .mgj-my-cart { background: rgb(32, 32, 32) none repeat scroll 0% 0%; }
.mgj_rightbar .mgj-back2top { background: rgb(32, 32, 32) none repeat scroll 0% 0%; display: none; cursor: pointer; padding-top: 0px; padding-bottom: 0px; }
.mgj_rightbar .mgj-back2top a { border-bottom: medium none; border-top: 1px solid rgba(221, 221, 221, 0.6); padding-bottom: 0px; padding-top: 4px; }
.mgj_rightbar .mgj-back2top.show { display: block; }
.mgj_rightbar .mgj-back2top:hover { padding-bottom: 0px; background-color: rgb(239, 47, 35); margin-top: 0px; }
.mgj_rightbar .mgj-back2top:hover a { border-bottom: 0px none; border-top: 0px none; padding-top: 5px; padding-bottom: 0px; }
body, html {  }
.mgj_rightbar {  }
.mgj_rightbar .sidebar-item .s-icon { background-image: url('upload_iezdmoldgm2tmnrtgqzdambqmmyde_30x220.png'); background-repeat: no-repeat; }
.mgj_rightbar .mgj-my-cart .s-icon { background-position: -4px 0px; }
.mgj_rightbar .mgj-my-coupon .s-icon { background-position: -4px -30px; }
.mgj_rightbar .mgj-my-browserlog .s-icon { background-position: -4px -60px; }
.mgj_rightbar .mgj-my-wallet .s-icon { background-position: -4px -90px; }
.mgj_rightbar .mgj-back2top .s-icon { background-position: -3px -150px; }
.pagination { clear: both; text-align: center; }
.pagination .common, .pagination a, .pagination i { display: inline-block; margin-right: 12px; padding: 0px 8px; line-height: 24px; font-size: 14px; color: rgb(51, 51, 51); }
.pagination .c { background: rgb(51, 51, 51) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.mogutalk_widget_btn { cursor: pointer; text-indent: -9999px; display: inline-block; }
.mogutalk_default { width: 85px; height: 24px; background: transparent url('sp1ku_ieygin3dgeydoztbmiytambqmeyde_16x17.gif') no-repeat scroll 50% center; }
.mogutalk_pc { width: 16px; height: 17px; background: transparent url('upload_iezggojsgfrwinlbgmzdambqmmyde_16x17.gif') no-repeat scroll 0% 0%; }
.mogutalk_widget4 { width: 48px; height: 20px; background: transparent url('sp1ku_iezdizbwmi3temjugezdambqmmyde_1x1.gif') no-repeat scroll 50% center / 42px auto; }
em { font-style: normal; }
.mgj_rightbar { z-index: 8000; }
.mgj_rightbar .show { display: block; }
.wrap { position: relative; }
.top_nav_search { position: relative; z-index: 50; float: left; width: 502px; margin: 35px 0px 0px 132px; }
.top_nav_search .ts_txt { float: left; height: 21px; line-height: 20px; padding: 6px 10px 6px 6px; width: 344px; border: medium none; color: rgb(153, 153, 153); font-size: 12px; }
.top_nav_search .top_search_hint { display: none; position: absolute; left: 0px; top: 33px; width: 500px; z-index: 999; font-size: 12px; background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(58, 58, 58) rgb(206, 206, 206) rgb(206, 206, 206); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
/* ::::: https://s10.mogucdn.com/__/mfp/meili-mgj-pc-bottom/assets/0.1.7/bottom.css ::::: */

.foot { overflow: hidden; min-height: 180px; margin-top: 0px; padding-top: 50px; padding-bottom: 60px; background: transparent none repeat scroll 0px 0px; }
.color_666 { color: rgb(102, 102, 102); }
.color_999 { color: rgb(153, 153, 153); }
.mgj_footer_helper a:hover, .mgj_footer_mgjinfo a:hover, .mgj_footer_otherlink a:hover { color: rgb(255, 85, 119); }
.media_screen_1200 .mgj_copyright { width: 1200px; }
.mgj_copyright { min-height: 180px; font-size: 12px; margin: 0px auto; font-family: "PingFang SC","Times New Roman","Microsoft YaHei","微软雅黑",STXihei,"华文细黑",serif; }
.mgj_footer_helper { width: 100%; height: 100px; border-bottom: 2px solid rgb(255, 87, 119); }
.mgj_footer_helper_mod { height: 100px; float: left; width: 25%; }
.mgj_footer_helper_mod_container { padding-left: 20px; width: 78%; }
.mgj_footer_helper_title { font-size: 14px; margin-left: 25px; margin-bottom: 10px; height: 25px; line-height: 25px; overflow: hidden; }
.mgj_footer_helper_item { float: left; display: inline-block; width: 80px; height: 20px; line-height: 20px; }
.mgj_footer_helper_item_last { position: relative; width: 62px; display: inline-block; }
.mgj_footer_helper_item_last:hover .mgj_footer_helper_quoer_code { display: block; }
.mgj_footer_helper_quoer_code { position: absolute; display: none; height: 70px; width: 70px; top: 27px; left: -17px; overflow: hidden; }
.mgj_footer_a { display: inline-block; }
.mgj_footer_b { margin: 0px 5px; font-weight: 400; }
.mgj_footer_mgjinfo { min-height: 20px; margin-top: 10px; overflow: hidden; }
.mgj_footer_mgjinfo_item { float: left; display: inline-block; width: 80px; height: 20px; line-height: 20px; }
.mgj_footer_copyright { margin-bottom: 8px; line-height: 27px; }
.mgj_footer_copyright a:hover { cursor: pointer; text-decoration: none; }
/* ::::: https://s10.mogucdn.com/__newtown/appdetail/assets/pc/pages/normal/index.css-9371b15e.css ::::: */

body { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; }
img { vertical-align: middle; }
.num-add { background-position: -3px -78px; height: 10px; }
.num-add, .num-reduce { background-image: url('upload_ifqwkntcmi2gintdg4zdambqgyyde_221x704.png'); background-repeat: no-repeat; overflow: hidden; display: block; width: 10px; }
.num-reduce { background-position: -3px 2px; height: 2px; }
.num-disable { opacity: 0.3; }
.buy-btn { display: inline-block; text-align: center; font: 20px/48px Microsoft YaHei; color: rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; height: 48px; }
.buy-now { width: 200px; background: rgb(239, 47, 35) none repeat scroll 0% 0%; height: 50px; line-height: 50px; }
.buy-cart { width: 198px; }
.buy-cart, .buy-xchf { color: rgb(51, 51, 51); border: 1px solid rgb(221, 221, 221); }
.pagination { border-top: 1px solid rgb(229, 229, 229); padding-top: 30px; margin-top: 0px; }
.shop-detail { overflow: hidden; }
.media_screen_1200 .shop-detail { width: 1200px; margin: 0px auto; }
.media_screen_1200 .primary-slide { display: block ! important; }
.detail-content .ui-fixed { position: fixed ! important; top: 0px; }
.detail-content .ui-hide { display: none; }
.detail-content .ui-box { border: 1px solid rgb(229, 229, 229); }
.detail-content .ui-hd { background: rgb(246, 246, 246) none repeat scroll 0% 0%; }
.detail-content .ui-bd { border-top: 1px solid rgb(229, 229, 229); }
.detail-content .ui-none { display: none ! important; }
.detail-content { overflow: hidden; position: relative; margin-bottom: 80px; }
.detail-content .col-top { width: 100%; min-height: 0px; margin-bottom: 20px; display: none; }
.detail-content .col-main, .detail-content .col-sidebar { float: left; }
.detail-content .col-main { width: 100%; min-height: 1px; }
.detail-content .col-main .module-tabpanel { width: 738px; margin-left: 220px; }
.detail-content .col-sidebar { overflow: hidden; margin-left: -100%; width: 200px; }
.detail-content .col-extra { position: absolute; right: 0px; width: 240px; }
.media_screen_1200 .detail-content .col-extra { height: 100%; }
.detail-content .col-extra .bor-line { display: none; position: absolute; font-size: 0px; }
.media_screen_1200 .detail-content .col-extra .bor-line { display: block; }
.detail-content .col-extra .bor-l, .detail-content .col-extra .bor-r { width: 0px; height: 100%; }
.detail-content .col-extra .bor-r { right: 0px; border-right: 1px solid rgb(229, 229, 229); }
.detail-content .col-extra .bor-b { bottom: 0px; width: 100%; height: 0px; border-bottom: 1px solid rgb(229, 229, 229); }
.detail-content .col-extra .bor-l { left: -1px; border-left: 1px solid rgb(229, 229, 229); }
.detail-content .col-extra .ui-box { border-left-width: 0px; }
.shop-header { height: 70px; background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(221, 221, 221); }
.shop-header .header { width: 1200px; margin: auto; }
.shop-header .shop-name { padding-left: 10px; margin-top: 15px; width: 240px; }
.shop-header .shop-name .name-wrap { font-size: 14px; overflow: hidden; height: 20px; line-height: 20px; display: block; font-weight: 400; }
.shop-header .shop-name .name { float: left; margin-right: 5px; display: inline-block; max-width: 130px; text-overflow: ellipsis; overflow: hidden; color: rgb(51, 51, 51); white-space: nowrap; word-break: break-all; }
.shop-header .shop-follow { background-position: 0px -50px; border: 1px solid rgb(221, 221, 221); padding: 0px 5px 0px 19px; height: 19px; line-height: 19px; display: inline-block ! important; }
.shop-header .header-icons, .topNav .header-icons { background-image: url('1agxjw_ieygizjshe4wcyjvmmytambqgiyde_270x400.png'); background-repeat: no-repeat; }
.shop-header .user-info { position: relative; width: 507px; height: 70px; }
.shop-header .user-info .icon-show-score { display: inline-block; position: absolute; right: 30px; top: 33px; width: 30px; height: 46px; cursor: pointer; background: transparent url('7ycvj_kqyu4tkwkfbhmqlwgfjeg5sckzsew_7x4.png') no-repeat scroll 100% 0px; }
.shop-header .user-info .avatar { float: left; margin-left: 20px; }
.shop-header .user-info .face { width: 40px; height: 40px; border-radius: 50%; margin-top: 15px; }
.shop-header .user-info .shop-follow { padding: 0px 12px 0px 22px ! important; background-position: 4px -48px; font-size: 12px; color: rgb(102, 102, 102); height: 20px; line-height: 20px; margin-right: 10px; background-color: rgb(255, 255, 255); }
.shop-header .user-info .line-right { width: 1px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; margin-top: 15px; height: 40px; margin-left: 28px; }
.shop-header .shop-action { margin-top: 24px; }
.shop-header .shop-action a { display: inline-block; }
.shop-header .shop-action .chart { border: 1px solid rgb(221, 221, 221); height: 20px; line-height: 20px; padding: 0px 5px; background-color: rgb(255, 255, 255); }
.shop-header .shop-action .kefu { line-height: 20px; }
.shop-header .shop-score { position: relative; width: 240px; z-index: 20; padding-bottom: 30px; }
.shop-header .shop-score .left_star { background-position: 0px -110px; width: 68px; position: relative; }
.shop-header .shop-score .left_star, .shop-header .shop-score .left_star .level { background-image: url('idid_ifrdkoddha2giy3bmezdambqmeyde_68x122.png'); background-repeat: no-repeat; height: 16px; background-size: 68px 122px; overflow: hidden; }
.shop-header .shop-score .left_star .level { background-position: 0px 0px; float: left; position: absolute; left: 0px; top: 0px; }
.shop-header .shop-score .s-cat { color: rgb(102, 102, 102); margin-right: 5px; }
.shop-header .shop-score .s-cat b { color: rgb(239, 47, 35); font-weight: 400; padding-left: 2px; }
.shop-header .shop-score .low { color: rgb(26, 202, 96) ! important; }
.shop-header .shop-info { display: none; position: absolute; top: 36px; left: -70px; width: 505px; background-color: rgb(246, 246, 246); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(237, 237, 237) rgb(237, 237, 237); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.shop-header .shop-info .info-box { float: left; width: 220px; min-height: 250px; overflow: hidden; border-right: 1px solid rgb(222, 222, 222); }
.shop-header .shop-info ol { float: left; overflow: hidden; }
.shop-header .shop-info li { line-height: 26px; }
.shop-header .shop-info li .low { color: rgb(141, 195, 65); }
.shop-header .shop-info li .num { color: rgb(255, 51, 102); }
.shop-header .shop-info .li1 { width: 150px; margin: 0px 0px 5px 15px; }
.shop-header .shop-info .li2 { width: 80px; }
.shop-header .shop-info .li2 .num { color: rgb(51, 51, 51); }
.shop-header .shop-info .li2 .up { background-color: rgb(255, 51, 102); color: rgb(255, 255, 255); padding: 2px; margin-right: 5px; }
.shop-header .shop-info .li3 { padding: 5px 0px; }
.shop-header .shop-info .li3 .tag { width: 85px; display: inline-block; text-align: right; color: rgb(153, 153, 153); margin-right: 2px; }
.shop-header .shop-info .li3 .tc { text-align: center; }
.shop-header .shop-info .li4 { padding: 5px 0px; width: 150px; margin-left: 15px; border-top: 1px dashed rgb(222, 222, 222); }
.shop-header .shop-info .li5 { padding: 5px 0px; width: 70px; border-top: 1px dashed rgb(222, 222, 222); }
.shop-header .shop-info .go-detail { background-color: rgb(255, 255, 255); border: 1px solid rgb(213, 213, 213); color: rgb(51, 51, 51); display: inline-block; width: 100px; height: 26px; text-align: center; line-height: 26px; border-radius: 3px; }
.shop-header li .shop-individual-licen { width: 170px; display: block; border: 1px solid rgb(229, 229, 229); margin-left: 15px; border-radius: 2px; }
.shop-header .shop-search { margin: 18px 0px 0px; padding-left: 24px; float: right; }
.shop-header .shop-search .text { float: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; vertical-align: middle; width: 400px; height: 26px; overflow: hidden; padding: 0px 8px; line-height: 26px; border: 2px solid rgb(239, 47, 35); }
.shop-header .shop-search .submit-btn { float: left; vertical-align: middle; border: 0px none; background-color: rgb(239, 47, 35); color: rgb(255, 255, 255); height: 30px; width: 72px; cursor: pointer; }
.shop-header .shop-search .search-inshop { vertical-align: middle; background-color: rgb(255, 255, 255); color: rgb(239, 47, 35); border: 1px solid rgb(239, 47, 35); height: 28px; width: 72px; cursor: pointer; display: inline-block; line-height: 28px; text-align: center; float: right; margin-left: 5px; }
.shop-header .shop-search .top_nav_search { margin: 0px; width: auto; }
.shop-header .shop-search .top_search_hint { width: 100%; border-top: 1px solid rgb(206, 206, 206); }
.shop-header .shop-search-list { box-shadow: none ! important; border-radius: 0px ! important; font-size: 12px; display: none; background-color: rgb(255, 255, 255); border: 2px solid rgb(221, 221, 221); position: absolute; z-index: 999; top: 126px; left: 0px; width: 451px; padding: 5px 15px; }
.shop-header .shop-search-list .search-list-box { width: 100%; min-height: 60px; }
.shop-header .shop-search-list .no-tip { height: 22px; line-height: 22px; color: rgb(204, 204, 204); }
.mod_topNav { margin-top: -30px; position: relative; z-index: 19; overflow: visible ! important; }
.mod_topNav .mod_item { border: 0px none; }
.topNav { line-height: 30px; position: relative; width: 1200px; margin: 0px auto; }
.topNav .category_list { display: none; position: absolute; top: 30px; left: 68px; width: 150px; line-height: 32px; background-color: rgba(0, 0, 0, 0.75); }
.topNav .category_list a { color: rgb(255, 255, 255); font-size: 12px; background: transparent url('7ycvj_kqywuucwkfbfqqkugfjeg5sckzsew_4x7.png') no-repeat scroll 14px 13px; transition: background-color 0.3s ease 0s; border: 0px none; height: 32px; line-height: 32px; padding: 0px 26px; }
.blackStyle { background: rgba(0, 0, 0, 0.75) none repeat scroll 0% 0%; }
.mod_topBanner .mod_item { border: 0px none; }
.mod_topNav { margin-top: -30px; position: relative; z-index: 19; overflow: visible; }
.mod_topNav .mod_list { overflow: visible; height: 30px; margin-bottom: 20px; }
.mod_topNav .mod_item { border: medium none; overflow: visible; }
.topNav { line-height: 30px; position: relative; }
.topNav ol { height: 30px; }
.topNav li { float: left; position: relative; font-size: 14px; z-index: 2; padding: 7px 0px; }
.topNav a { display: block; color: rgb(255, 255, 255); padding: 0px 20px; line-height: 16px; }
.topNav .all a { padding: 0px 38px 0px 25px; background: transparent url('16uz7_kqzfeqkbozbfqwkugfjeg5sckzsew_200x500.png') no-repeat scroll 86px -191px; }
.topNav .category_list { display: none; position: absolute; top: 30px; left: 0px; width: 150px; line-height: 32px; background-color: rgba(0, 0, 0, 0.75); }
.topNav .category_list dd { height: 32px; line-height: 32px; }
.topNav .category_list a { color: rgb(255, 255, 255); font-size: 12px; background: transparent url('7ycvj_kqywuucwkfbfqqkugfjeg5sckzsew_4x7.png') no-repeat scroll 14px 13px; transition: background-color 0.3s ease 0s; border: medium none; height: 32px; line-height: 32px; padding: 0px 26px; }
.topNav .category_list a:hover { background-color: rgb(102, 102, 102); }
.subMenu { overflow: visible; position: relative; z-index:1;}
.blackStyle { background: rgba(0, 0, 0, 0.75) none repeat scroll 0% 0%; }
.blackStyle a { border-right: 1px solid rgb(92, 92, 92); }
.mod_topBanner .mod_item { border: medium none; }
.mod_topBanner .mod_cont { overflow: hidden; height: 150px; }
.mod_topBanner .shop_bg_img { height: 150px; display: block; }
.media_screen_1200 .topNav { width: 1200px; margin: 0px auto; }
.module-tabpanel { border: 1px solid rgb(229, 229, 229); }
.module-tabpanel .tabbar-box { z-index: 1001; width: 738px; }
.module-tabpanel .tabbar-bg, .module-tabpanel .tabbar-box { height: 58px; border-bottom: 1px solid rgb(229, 229, 229); background: rgb(246, 246, 246) none repeat scroll 0% 0%; }
.module-tabpanel .tabbar-bg { overflow: hidden; z-index: 1000; width: 1198px; left: 50%; margin-left: -600px; border-right: 1px solid rgb(229, 229, 229); border-left: 1px solid rgb(229, 229, 229); }
.module-tabpanel .tabbar-bg .bg-left { float: left; width: 219px; height: 100%; border-right: 1px solid rgb(229, 229, 229); }
.module-tabpanel .tabbar-bg .bg-right { float: right; width: 239px; height: 100%; border-left: 1px solid rgb(229, 229, 229); }
.module-tabpanel .tabbar-occupying { height: 59px; }
.module-tabpanel .tabbar-list li { float: left; width: 149px; height: 58px; border-right: 1px solid rgb(229, 229, 229); font-size: 0px; }
.module-tabpanel .tabbar-list li.selected a { border-top: 4px solid rgb(239, 47, 35); border-bottom: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.module-tabpanel .tabbar-list li a { display: block; border-top: 4px solid rgb(246, 246, 246); line-height: 54px; font-family: Microsoft YaHei\,arial; font-size: 16px; color: rgb(51, 51, 51); text-align: center; }
.module-tabpanel .tabbar-list li em { display: inline-block; line-height: 12px; margin-left: 4px; font-family: Microsoft YaHei\,arial; font-style: normal; font-size: 12px; color: rgb(153, 153, 153); }
.module-tabpanel .tabbar-list .qrcode { position: relative; width: 140px; float: right; margin-right: 20px; border-right-width: 0px; }
.module-tabpanel .tabbar-list .qrcode .qrcode-togger { width: 100px; line-height: 16px; margin-top: 24px; font-family: Microsoft YaHei\,arial; font-size: 12px; color: rgb(102, 102, 102); text-align: right; }
.module-tabpanel .tabbar-list .qrcode .qrcode-pic { display: none; position: absolute; z-index: 1001; top: 58px; right: -21px; border: 1px solid rgb(221, 221, 221); padding: 13px; background: rgb(255, 255, 255) url('2r6z_ieygeylemy4tonlbmiytambqhayde_46x46.gif') no-repeat scroll 50% center; }
.module-tabpanel .tabbar-list .qrcode .qrcode-pic, .module-tabpanel .tabbar-list .qrcode .qrcode-pic img { width: 172px; height: 172px; }
.module-tabpanel .tabbar-list .qrcode .qrcode-pic img { display: block; }
.module-tabpanel .tabbar-list .qrcode .qrcode-mini { position: absolute; top: 20px; right: 15px; width: 20px; height: 20px; background: transparent url('upload_ieytmmbvgy3tsndegmzdambqmeyde_32x300.png') no-repeat scroll 0px 0px; }
.module-tabpanel .tabbar-list .qrcode .qrcode-arrow { position: absolute; top: 28px; right: 0px; width: 0px; height: 0px; border-width: 5px 4px 0px; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 5px solid rgb(187, 187, 187); }
.module-tabpanel .panel-box { min-height: 40px; }
.module-tabpanel .module-panel { overflow: hidden; padding-left: 19px; padding-right: 19px; }
.module-tabpanel .module-panel .panel-title { overflow: hidden; padding: 40px 0px 20px; }
.module-tabpanel .module-panel .panel-title h1 { float: left; line-height: 18px; padding-bottom: 4px; border-bottom: 1px solid rgb(51, 51, 51); color: rgb(51, 51, 51); font-size: 18px; font-family: Microsoft YaHei\,arial; }
.module-shop .shop-info .ui-bd { overflow: hidden; }
.module-shop .shop-info .shop-hd { z-index: 1002; width: 198px; height: 58px; line-height: 58px; }
.module-shop .shop-info .shop-name { text-align: center; }
.module-shop .shop-info .shop-name .text { display: inline-block; position: relative; line-height: 14px; color: rgb(51, 51, 51); font-size: 14px; }
.module-shop .shop-info .shop-name .text-hasim { padding-right: 20px; }
.module-shop .shop-info .shop-name .kefu { position: absolute; top: -1px; right: 0px; width: 16px; height: 17px; }
.module-shop .shop-info .shop-occupying { height: 58px; }
.module-shop .shop-info .shop-evaluate { height: 32px; margin-top: 20px; }
.module-shop .shop-info .shop-evaluate ul { overflow: hidden; width: 168px; margin: 0px auto; }
.module-shop .shop-info .shop-evaluate li { float: left; width: 41px; border-right: 1px dotted rgb(229, 229, 229); }
.module-shop .shop-info .shop-evaluate li.last, .module-shop .shop-info .shop-evaluate li:last-child { border-right-width: 0px; }
.module-shop .shop-info .shop-evaluate li .num-def, .module-shop .shop-info .shop-evaluate li .text { text-align: center; }
.module-shop .shop-info .shop-evaluate li .text { color: rgb(102, 102, 102); }
.module-shop .shop-info .shop-evaluate li .num-def { color: rgb(239, 47, 35); }
.module-shop .shop-info .shop-btns { overflow: hidden; padding: 22px 0px 20px; font-size: 0px; }
.module-shop .shop-info .shop-btns .btn-fav, .module-shop .shop-info .shop-btns .btn-faved, .module-shop .shop-info .shop-btns .btn-goto { display: inline-block; width: 64px; height: 20px; line-height: 20px; border: 1px solid rgb(221, 221, 221); color: rgb(51, 51, 51); font-size: 12px; text-align: center; }
.module-shop .shop-info .shop-btns .btn-fav, .module-shop .shop-info .shop-btns .btn-faved { margin-left: 20px; }
.module-shop .shop-info .shop-btns .btn-goto { margin-left: 25px; }
.module-shop .shop-info .shop-search { overflow: hidden; }
.module-shop .shop-info .shop-search form { overflow: hidden; width: 158px; height: 22px; margin: 16px auto; }
.module-shop .shop-info .shop-search .line { display: block; font-size: 0px; border-top: 1px dotted rgb(229, 229, 229); }
.module-shop .shop-info .shop-search .inptxt { float: left; width: 85px; height: 14px; line-height: 14px; padding: 3px; border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(51, 51, 51); }
.module-shop .shop-info .shop-search .inpbtn { float: left; width: 66px; height: 22px; line-height: 22px; border-width: 0px; color: rgb(255, 255, 255); cursor: pointer; font-size: 12px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; }
.module-shop .shop-info .shop-provide { position: relative; z-index: 10; }
.module-shop .shop-info .shop-provide .line { display: block; font-size: 0px; border-top: 1px dotted rgb(229, 229, 229); }
.module-shop .shop-info .shop-provide .arrow { position: absolute; top: -5px; left: 50%; z-index: 11; margin-left: -4px; width: 8px; height: 6px; background: transparent url('upload_ieytmmbvgy3tsndegmzdambqmeyde_32x300.png') no-repeat scroll 0px -280px; }
.module-shop .shop-info .shop-provide .pic { padding: 16px 0px; cursor: default; }
.module-shop .shop-info .shop-provide .pic, .module-shop .shop-info .shop-provide .pic img { display: block; }
.module-shop .shop-info .shop-provide .pic img { margin: 0px auto; }
.module-classify { margin-top: 20px; }
.module-classify .classify-info .ui-hd { height: 38px; line-height: 38px; text-align: center; color: rgb(51, 51, 51); font-size: 16px; font-family: Microsoft YaHei\,arial; }
.module-classify .classify-info .ui-bd { overflow: hidden; }
.module-classify .classify-info .classify-list { margin: 20px 0px 20px 20px; }
.module-classify .classify-info .classify-list li { line-height: 14px; margin: -1px 0px 16px; }
.module-classify .classify-info .classify-list li.last, .module-classify .classify-info .classify-list li:last-child { margin-bottom: 0px; }
.module-classify .classify-info .classify-list li a { display: inline-block; width: 155px; height: 14px; line-height: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding-left: 11px; color: rgb(102, 102, 102); background: transparent url('upload_ieytmmbvgy3tsndegmzdambqmeyde_32x300.png') no-repeat scroll 0px -117px; }
.module-repeat { margin-top: 20px; }
.module-repeat .repeat-info .ui-hd { height: 38px; line-height: 38px; text-align: center; color: rgb(51, 51, 51); font-size: 16px; font-family: Microsoft YaHei\,arial; }
.module-repeat .repeat-info .ui-bd { overflow: hidden; }
.module-repeat .repeat-info .repeat-list { margin-top: 20px; }
.module-repeat .repeat-info .repeat-list li { overflow: hidden; width: 160px; margin: 0px auto 30px; }
.module-repeat .repeat-info .repeat-list li .pic { overflow: hidden; height: 240px; }
.module-repeat .repeat-info .repeat-list li .pic, .module-repeat .repeat-info .repeat-list li .pic img { display: block; width: 100%; }
.module-repeat .repeat-info .repeat-list li .title { display: block; height: 14px; line-height: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: 10px; color: rgb(51, 51, 51); font-size: 14px; }
.module-repeat .repeat-info .repeat-list li .info { overflow: hidden; margin-top: 10px; }
.module-repeat .repeat-info .repeat-list li .price { float: left; height: 14px; font-size: 0px; }
.module-repeat .repeat-info .repeat-list li .price .price-n, .module-repeat .repeat-info .repeat-list li .price .price-u { display: inline-block; line-height: 14px; color: rgb(51, 51, 51); font-size: 14px; }
.module-repeat .repeat-info .repeat-list li .price .price-u { font-family: Microsoft YaHei\,arial; font-style: normal; }
.module-repeat .repeat-info .repeat-list li .price .price-n { margin-left: 3px; font-family: Microsoft YaHei\,arial; }
.module-repeat .repeat-info .repeat-list li .fav { float: left; height: 12px; margin-left: 20px; font-size: 0px; }
.module-repeat .repeat-info .repeat-list li .fav .fav-i, .module-repeat .repeat-info .repeat-list li .fav .fav-n { display: inline-block; line-height: 12px; }
.module-repeat .repeat-info .repeat-list li .fav .fav-i { display: inline-block; width: 13px; height: 12px; background: transparent url('upload_ieytmmbvgy3tsndegmzdambqmeyde_32x300.png') no-repeat scroll 0px -200px; }
.module-repeat .repeat-info .repeat-list li .fav .fav-n { margin-left: 3px; color: rgb(153, 153, 153); font-size: 12px; font-family: Microsoft YaHei\,arial; }
.module-cart .cart-info .ui-hd { z-index: 1002; width: 239px; height: 58px; line-height: 58px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.module-cart .cart-info .cart-occupying { height: 58px; }
.module-cart .cart-info .cart-hd { text-align: center; }
.module-cart .cart-info .cart-name { display: block; width: 100%; height: 100%; }
.module-cart .cart-info .cart-name span { display: inline-block; position: relative; line-height: 20px; padding-left: 29px; color: rgb(51, 51, 51); font-size: 20px; }
.module-cart .cart-info .cart-name span i { position: absolute; top: 2px; left: 0px; width: 23px; height: 18px; background: transparent url('upload_ieytmmbvgy3tsndegmzdambqmeyde_32x300.png') no-repeat scroll 0px -40px; }
.module-extranav { overflow: hidden; }
.module-extranav .extranav-bd { overflow: hidden; top: 59px; }
.module-extranav .extranav-list { width: 204px; margin: 15px 18px 0px; }
.module-extranav .extranav-list li { height: 30px; line-height: 30px; margin: 7px 0px; cursor: pointer; }
.module-extranav .extranav-list li.selected, .module-extranav .extranav-list li:hover { background: transparent url('upload_ie2wgnrtmy4tim3bgmzdambqhayde_204x30.png') no-repeat scroll 0% 0%; }
.module-extranav .extranav-list li.selected a, .module-extranav .extranav-list li:hover a { color: rgb(51, 51, 51); font-weight: 700; background-position: 0px -238px; }
.module-extranav .extranav-list li a { display: inline-block; line-height: 14px; padding-left: 16px; margin-left: 57px; color: rgb(102, 102, 102); font-size: 14px; font-family: Microsoft YaHei\,arial; background: transparent url('upload_ieytmmbvgy3tsndegmzdambqmeyde_32x300.png') no-repeat scroll 0px -158px; }
.module-graphic .graphic-text { line-height: 18px; margin: -2px 0px 18px; color: rgb(102, 102, 102); font-size: 14px; font-family: Microsoft YaHei\,arial; }
.module-graphic .graphic-pic { margin-bottom: 20px; text-align: center; font-size: 0px; }
.module-graphic .graphic-pic .pic-box { position: relative; display: inline-block; padding-top: 1px; padding-bottom: 1px; min-width: 2px; }
.module-graphic .graphic-pic .pic-box img { position: absolute; top: 0px; left: -350px; display: block; max-width: 700px; min-width: 1px; min-height: 1px; margin-left: 1px; }
.module-graphic .graphic-block { margin-bottom: -20px; }
.module-graphic .parameter-table { width: 100%; margin-bottom: 20px; }
.module-graphic .parameter-table td { width: 33%; height: 34px; border: 1px solid rgb(238, 238, 238); padding: 0px 0px 0px 10px; color: rgb(102, 102, 102); font-size: 12px; }
.module-graphic .size-table { width: 100%; margin-bottom: 20px; }
.module-graphic .size-table td { text-align: center; }
.module-graphic .size-table thead tr { height: 32px; background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
.module-graphic .size-table tbody tr { height: 32px; }
.module-graphic .size-table tbody td { border-bottom: 1px solid rgb(242, 242, 242); color: rgb(102, 102, 102); }
.module-graphic .size-text { line-height: 16px; margin: -2px 0px 18px; color: rgb(153, 153, 153); font-size: 12px; font-family: Microsoft YaHei\,arial; }
.module-rates { padding-bottom: 40px; }
.module-rates .pagination { border-top-width: 0px; padding: 0px; }
.module-rates .rates-buyer .comment-star, .module-rates .rates-buyer .comment-star b { background-image: url('sp1ku_ieydsndbha4tmzbtmqytambqmmyde_800x800.png'); background-repeat: no-repeat; background-position: -694px 0px; height: 16px; width: 85px; overflow: hidden; float: left; }
.module-rates .rates-buyer .comment-star b { background-position: -694px -17px; }
.module-rates .rates-buyer .comment-info { border: 1px solid rgb(238, 238, 238); background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.module-rates .rates-buyer .comment-info li { float: left; width: 118px; height: 40px; margin: 11px 35px 13px 0px; }
.module-rates .rates-buyer .comment-info li.last { margin-right: 25px; }
.module-rates .rates-buyer .comment-info li .title { display: block; line-height: 12px; text-align: center; color: rgb(102, 102, 102); }
.module-rates .rates-buyer .comment-info li .cont { line-height: 16px; margin-top: 10px; }
.module-rates .rates-buyer .comment-info li .comment-star { float: left; margin-right: 8px; }
.module-rates .rates-buyer .comment-info li .num-v { color: rgb(102, 102, 102); }
.module-rates .rates-buyer .comment-info li.score { width: 203px; margin-left: 18px; margin-right: 25px; border-right: 1px dotted rgb(221, 221, 221); }
.module-rates .rates-buyer .comment-info li.score .comment-star { margin-top: 12px; margin-right: 18px; }
.module-rates .rates-buyer .comment-info li.score .numbox { float: left; height: 38px; line-height: 38px; }
.module-rates .rates-buyer .comment-info li.score .num-v { color: rgb(239, 47, 35); font-size: 32px; font-weight: 400; }
.module-rates .rates-buyer .comment-info li.score .num-s { color: rgb(239, 47, 35); font-family: Microsoft YaHei\,arial; font-size: 28px; }
.module-rates .rates-buyer .comment-content .nav { padding: 20px 0px; }
.module-rates .rates-buyer .comment-content .nav a { float: left; color: rgb(102, 102, 102); font-size: 12px; margin-right: 20px; }
.module-rates .rates-buyer .comment-content .nav a.c { color: rgb(51, 51, 51); font-weight: 700; }
.module-rates .rates-buyer .comment-content .nav .comment-sort { float: right; color: rgb(102, 102, 102); }
.module-rates .rates-buyer .comment-content .nav .comment-sort input, .module-rates .rates-buyer .comment-content .nav .comment-sort label { cursor: pointer; }
.module-rates .rates-buyer .comment-content .tags { padding: 15px; border-width: 0px 1px 1px; border-style: solid; border-color: rgb(238, 238, 238); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(250, 250, 250); }
.module-rates .rates-buyer .comment-content .tags .list { float: left; overflow: hidden; }
.module-rates .rates-buyer .comment-content .tags .list a { font-size: 12px; color: rgb(153, 153, 153); white-space: nowrap; overflow-wrap: normal; margin-bottom: 5px; display: inline-block; padding: 0px 8px; border: 1px solid rgb(250, 250, 250); }
.module-rates .rates-buyer .comment-content .tags .list a.best { color: rgb(239, 47, 35); }
.module-rates .rates-buyer .comment-content .tags .list b { margin: 0px 5px; color: rgb(225, 225, 225); font-weight: 400; }
.module-rates .rates-buyer .comment-content .tags .list b:last-child { display: none; }
.module-rates .rates-buyer .comment-content .tags .open { width: 100%; overflow: visible; }
.module-rates .rates-buyer .comment-content .comments .item { margin-bottom: 30px; }
.module-rates .rates-buyer .comment-content .comments .face { float: left; margin-left: -100%; width: 40px; }
.module-rates .rates-buyer .comment-content .comments .face img { border-radius: 40px; width: 40px; }
.module-rates .rates-buyer .comment-content .comments .info { float: left; width: 100%; }
.module-rates .rates-buyer .comment-content .comments .info .info-w { margin-left: 60px; }
.module-rates .rates-buyer .comment-content .comments .info .info-t { margin-bottom: 4px; }
.module-rates .rates-buyer .comment-content .comments .info .info-t .name { font-size: 14px; color: rgb(51, 51, 51); float: left; margin-right: 5px; }
.module-rates .rates-buyer .comment-content .comments .info .info-t .date { color: rgb(153, 153, 153); float: right; }
.module-rates .rates-buyer .comment-content .comments .info .info-m { font-size: 14px; color: rgb(102, 102, 102); margin-bottom: 4px; line-height: 18px; word-break: break-all; overflow-wrap: break-word; }
.module-rates .rates-buyer .comment-content .comments .info .info-b { color: rgb(153, 153, 153); }
.module-rates .rates-buyer .comment-content .comments .info .info-b .sku-choose { margin-right: 40px; }
.module-rates .rates-buyer .comment-content .comments .info .info-z { font-size: 12px; color: rgb(102, 102, 102); margin-bottom: 10px; }
.module-rates .rates-buyer .comment-content .comments .info .info-z .content { float: left; width: 70%; word-break: break-all; overflow-wrap: break-word; }
.module-rates .rates-buyer .comment-content .comments .info .info-z .date { color: rgb(153, 153, 153); }
.module-rates .rates-buyer .comment-content .comments .info .info-l { border-top: 1px dashed rgb(211, 211, 211); margin: 7px 0px; }
.module-rates .rates-buyer .comment-content .comments .info .show-img { margin-top: 7px; }
.module-rates .rates-buyer .comment-content .comments .info .show-img li { float: left; margin-right: 10px; padding-bottom: 10px; }
.module-rates .rates-buyer .comment-content .comments .info .show-img li .img-box { width: 40px; height: 40px; overflow: hidden; padding: 1px; border: 1px solid rgb(173, 173, 173); }
.module-rates .rates-buyer .comment-content .comments .info .show-img li span { width: 40px; height: 40px; overflow: hidden; display: inline-block; cursor: pointer; }
.module-rates .rates-buyer .comment-content .comments .info .show-img li:hover { border-color: rgb(255, 51, 102); }
.module-rates .rates-buyer .comment-content .comments .info .show-img .big-img { display: none; cursor: pointer; }
.module-rates .rates-buyer .comment-content .comments .info .show-img .big-img span { display: inline-block; padding: 1px; border: 1px solid rgb(173, 173, 173); min-width: 216px; }
.module-rates .rates-buyer .pagination { margin-top: -10px; }
#J_RatesOrder { display: none; }
.module-recommend .recommend-list { padding-bottom: 10px; }
.module-recommend .recommend-list ul { overflow: hidden; margin-right: -20px; }
.module-recommend .recommend-list li { overflow: hidden; float: left; width: 160px; margin: 0px 20px 30px 0px; }
.module-recommend .recommend-list li .pic { overflow: hidden; height: 240px; }
.module-recommend .recommend-list li .pic, .module-recommend .recommend-list li .pic img { display: block; width: 100%; }
.module-recommend .recommend-list li .title { display: block; height: 14px; line-height: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: 10px; color: rgb(51, 51, 51); font-size: 14px; }
.module-recommend .recommend-list li .info { overflow: hidden; margin-top: 10px; }
.module-recommend .recommend-list li .price { float: left; height: 14px; font-size: 0px; }
.module-recommend .recommend-list li .price .price-n, .module-recommend .recommend-list li .price .price-u { display: inline-block; line-height: 14px; color: rgb(51, 51, 51); font-size: 14px; }
.module-recommend .recommend-list li .price .price-u { font-family: Microsoft YaHei\,arial; font-style: normal; }
.module-recommend .recommend-list li .price .price-n { margin-left: 3px; font-family: Microsoft YaHei\,arial; }
.module-recommend .recommend-list li .fav { float: left; height: 12px; margin-left: 20px; font-size: 0px; }
.module-recommend .recommend-list li .fav .fav-i, .module-recommend .recommend-list li .fav .fav-n { display: inline-block; line-height: 12px; }
.module-recommend .recommend-list li .fav .fav-i { display: inline-block; width: 13px; height: 12px; background: transparent url('upload_ieytmmbvgy3tsndegmzdambqmeyde_32x300.png') no-repeat scroll 0px -200px; }
.module-recommend .recommend-list li .fav .fav-n { margin-left: 3px; color: rgb(153, 153, 153); font-size: 12px; font-family: Microsoft YaHei\,arial; }
.goods-title { font-size: 24px; line-height: 25px; }
.goods-info-presale .presale-title, .goods-title { font-family: Microsoft YaHei,arial; color: rgb(51, 51, 51); width: 100%; margin-bottom: 15px; }
.property-box .property-type { height: 32px; line-height: 32px; }
.property-box .property-cont { font-size: 14px; color: rgb(153, 153, 153); height: 32px; line-height: 32px; }
.property-box .property-cont .price { font-family: Microsoft YaHei,arial; }
.property-box .property-cont-origin { text-decoration: line-through; }
.property-box .property-cont-now { width: 262px; height: auto; }
.property-box .property-cont-now .pre-price-desc, .property-box .property-cont-now .price { float: left; }
.property-box .property-cont-now .price { color: rgb(239, 47, 35); font-size: 24px; display: inline-block; vertical-align: middle; font-weight: 700; }
.property-box .property-extra { line-height: 32px; margin-right: 10px; color: rgb(153, 153, 153); }
.property-box .property-extra .num { color: rgb(51, 51, 51); }
.module-promotions { position: relative; }
.module-promotions, .module-promotions .freeMail-box, .module-promotions .info, .module-promotions .promotion-box { float: left; }
.module-promotions .more { background-image: url('upload_ifqwkntcmi2gintdg4zdambqgyyde_221x704.png'); background-position: -10px -32px; background-repeat: no-repeat; overflow: hidden; display: block; float: left; width: 10px; height: 6px; margin-top: 14px; margin-left: 5px; cursor: pointer; }
.module-promotions .favorable-list { display: none; position: absolute; top: 30px; left: 0px; border: 1px solid rgb(221, 221, 221); background-color: rgb(255, 255, 255); color: rgb(90, 90, 90); padding: 10px; z-index: 998; min-width: 220px; }
.module-promotions .favorable-list .favorable-item { height: 25px; width: 100%; position: relative; }
.module-promotions .favorable-list b { width: 14px; height: 9px; position: absolute; top: -7px; left: 50%; margin-left: -7px; }
.module-promotions .dot { margin-right: 5px; }
.goods-sku .pannel-action, .goods-sku .pannel-title { display: none; }
.goods-sku .goods-buy { padding: 5px 0px 20px 60px; }
.goods-sku .goods-buy .buy-cart { position: relative; }
.goods-sku .size, .goods-sku .style { display: none; }
.goods-sku .size-list, .goods-sku .style-list { max-height: 110px; overflow-y: auto; }
.goods-sku .size-list li, .goods-sku .style-list li, .goods-sku .style-list li.img { cursor: pointer; float: left; padding: 0px 10px; font-weight: 700; line-height: 28px; border: 1px solid rgb(221, 221, 221); white-space: nowrap; overflow-wrap: normal; transition-property: border-color; transition-duration: 0.2s; }
.goods-sku .style-list li.img { position: relative; margin: 0px 15px 5px 0px; padding: 0px; }
.goods-sku .style-list li.img img { width: 45px; height: 45px; }
.goods-sku .style-list li.img b { display: none; position: absolute; bottom: 0px; right: 0px; width: 11px; height: 11px; background: transparent url('eeee_ieygcmbsmuywcnzxmiytambqgiyde_11x11.png') no-repeat scroll 100% 100%; }
.goods-sku .size-list li, .goods-sku .style-list li { margin: 0px 10px 5px 0px; }
.goods-sku .style-list li.img.c { padding: 0px; background: transparent url('eeee_ieygcmbsmuywcnzxmiytambqgiyde_11x11.png') no-repeat scroll 100% 100%; border: 2px solid rgb(102, 102, 102); line-height: 28px; margin: -1px 14px 4px -1px; }
.goods-sku .style-list li.img.c b { display: block; }
.goods-sku .size-list li.c, .goods-sku .style-list li.c { background: transparent url('eeee_ieygcmbsmuywcnzxmiytambqgiyde_11x11.png') no-repeat scroll 100% 100%; border: 2px solid rgb(102, 102, 102); line-height: 28px; margin: -1px 9px 4px -1px; }
.goods-sku .style-list li.img:hover { border: 2px solid rgb(102, 102, 102); margin: -1px 14px 4px -1px; }
.goods-sku .size-list li:hover, .goods-sku .style-list li:hover { border: 2px solid rgb(102, 102, 102); margin: -1px 9px 4px -1px; }
.goods-sku .goods-num { position: relative; width: 95px; height: 25px; border: 1px solid rgb(221, 221, 221); }
.goods-sku .goods-num .num-input { width: 44px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; border-width: 0px 1px; border-style: none solid; border-color: -moz-use-text-color rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 25px; float: left; background: transparent none repeat scroll 0% 0%; }
.goods-sku .goods-num .num-add, .goods-sku .goods-num .num-reduce { float: left; width: 24px; height: 25px; display: inline-block; cursor: pointer; }
.goods-sku .goods-stock { height: 25px; line-height: 25px; margin-left: 10px; color: rgb(153, 153, 153); }
.goods-sku .goods-stock-tip { background-image: url('upload_ifqwkntcmi2gintdg4zdambqgyyde_221x704.png'); background-position: -10px -175px; background-repeat: no-repeat; overflow: hidden; height: 25px; line-height: 25px; margin-left: 20px; color: rgb(239, 47, 35); padding-left: 22px; display: none; }
.goods-pannel .goods-buy, .refresh-loading { display: none; }
.goods-social { margin-left: 60px; }
.goods-social .item { padding: 0px 13px; height: 24px; line-height: 24px; border: 1px solid rgb(221, 221, 221); border-radius: 24px; color: rgb(153, 153, 153); float: left; cursor: pointer; margin-right: 10px; }
.goods-social .fav b { background-image: url('upload_ifqwkntcmi2gintdg4zdambqgyyde_221x704.png'); background-position: -10px -114px; background-repeat: no-repeat; overflow: hidden; position: relative; top: 1px; width: 15px; height: 13px; display: inline-block; margin-right: 5px; }
.goods-social .fav:hover { border-color: rgb(239, 47, 35); }
.goods-social .share { position: relative; }
.goods-social .share b { background-image: url('upload_ifqwkntcmi2gintdg4zdambqgyyde_221x704.png'); background-position: -9px -56px; background-repeat: no-repeat; overflow: hidden; width: 10px; height: 10px; display: inline-block; margin-right: 5px; }
.goods-social .share a { float: left; width: 17px; height: 17px; margin-left: 8px; }
.goods-social .share-w { position: absolute; top: 28px; left: 0px; padding-top: 10px; background-image: url('upload_ifqwkntcmi2gintdg4zdambqgyyde_221x704.png'); background-position: -10px -509px; background-repeat: no-repeat; overflow: hidden; width: 108px; height: 45px; display: none; }
.goods-social .report { float: left; height: 26px; line-height: 26px; }
.goods-social .report a { color: rgb(153, 153, 153); }
.goods-extra .extra-services { padding-top: 20px; width: 600px; }
.goods-extra .extra-services .label { color: rgb(153, 153, 153); }
.goods-extra .extra-services .list { width: 500px; }
.goods-extra .extra-services .item { margin-top: -4px; height: 30px; color: rgb(102, 102, 102); display: inline-block; margin-right: 20px; margin-bottom: 10px; }
.goods-extra .extra-services .link { color: rgb(102, 102, 102); }
.goods-extra .extra-pay { margin-top: 10px; }
.goods-extra .extra-pay .label { color: rgb(153, 153, 153); }
.goods-extra .extra-pay .list { background-image: url('upload_ifqwkntcmi2gintdg4zdambqgyyde_221x704.png'); background-position: -10px -295px; background-repeat: no-repeat; overflow: hidden; display: block; width: 131px; height: 20px; }
.goods-extra .extra-pay .list-nomaibei { background-position: -38px -295px; }
.goods-info { width: 100%; min-height: 530px; }
.goods-info .info-box { padding: 0px 90px 25px 431px; overflow: hidden; }
.goods-info .goods-prowrap dl { min-height: 20px; padding-left: 10px; padding-bottom: 15px; position: relative; }
.goods-info .goods-prowrap dt { color: rgb(153, 153, 153); position: absolute; font-size: 12px; }
.goods-info .goods-prowrap dd { padding-left: 60px; }
.goods-info .goods-prowrap .promotions-box { height: 32px; line-height: 32px; }
.goods-info .goods-main { width: 540px; margin-left: -10px; border-bottom: 1px solid rgb(243, 243, 243); border-top: 1px solid rgb(243, 243, 243); background: transparent url('upload_ifrtonjsgm3gkmrshazdambqhayde_540x163.png') repeat-y scroll 0px top; }
.goods-info .goods-main dl { padding-bottom: 0px; }
.goods-info .goods-main .property-box .property-extra { padding-left: 0px; }
.goods-info .goods-im { margin-top: 15px; }
.goods-info-normal .property-box, .goods-info-rush .property-box { border-bottom: medium none; }
.goods-topimg { margin-left: -100%; width: 400px; overflow: hidden; }
.goods-topimg .big-img { width: 400px; height: 600px; overflow: hidden; position: relative; }
.goods-topimg .small-img { position: relative; }
.goods-topimg .small-img .box { margin-top: 10px; padding: 0px 32px; }
.goods-topimg .small-img .list { overflow: hidden; position: relative; height: 59px; }
.goods-topimg .small-img ul { margin-right: -15px; }
.goods-topimg .small-img .left-btn { background-position: -10px -256px; background-repeat: no-repeat; overflow: hidden; display: block; width: 10px; height: 19px; left: 0px; }
.goods-topimg .small-img .right-btn { background-position: -10px -217px; background-repeat: no-repeat; overflow: hidden; display: block; width: 11px; height: 19px; right: 0px; }
.goods-topimg .small-img .arrow-btn { background-image: url('upload_ifqwkntcmi2gintdg4zdambqgyyde_221x704.png'); width: 12px; height: 22px; position: absolute; top: 17px; display: none; }
.goods-recommend { width: 100%; }
.goods-recommend .title { color: rgb(102, 102, 102); height: 14px; line-height: 14px; margin-bottom: 10px; display: inline-block; width: 100%; position: relative; text-align: center; }
.goods-recommend .title s { position: absolute; top: 7px; margin-left: -50%; width: 100%; height: 0px; border-top: 1px solid rgb(238, 238, 238); text-decoration: none; }
.goods-recommend .title span { font-size: 16px; color: rgb(153, 153, 153); text-align: center; width: 6em; top: 0px; left: 50%; margin-left: -3em; background-color: rgb(255, 255, 255); position: absolute; }
.goods-recommend .list .box { height: 650px; overflow: hidden; width: 120px; position: relative; }
.goods-recommend .list ul { position: absolute; margin-bottom: -20px; }
.goods-recommend .list li { margin-top: 11px; }
.goods-recommend .list li a { position: relative; display: block; background-color: rgb(245, 245, 245); width: 120px; height: 180px; overflow: hidden; }
.goods-recommend .list li span { font-size: 14px; margin-top: 5px; color: rgb(51, 51, 51); display: block; width: 100%; text-align: center; }
.goods-recommend .list li:first-child { margin-top: 1px; }
.detail-primary { background-color: rgb(255, 255, 255); position: relative; overflow: hidden; margin: 30px 0px; min-height: 680px; }
.detail-primary .primary-goods { position: relative; width: 1058px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 7; overflow: hidden; }
.detail-primary .primary-slide { position: absolute; left: 100%; top: 0px; z-index: 6; overflow: hidden; border-left: 1px solid rgb(238, 238, 238); padding-left: 20px; margin-left: -140px; }
.promotionTopNavContainer { height: 50px; overflow: hidden; display: none; }
.wrap { position: relative; }
