/* ::::: https://s10.mogucdn.com/__newtown/mogu-global/assets/pc/common/base/css/index.css-3039fcc4.css,newtown/mogu-global/assets/pc/common/captcha/captcha.css-1441bc4f.css,newtown/mogu-global/assets/pc/common/nav/index.css-b7ac5166.css,newtown/mogu-global/assets/pc/common/im/index.css-315d2d53.css,newtown/mogu-global/assets/pc/common/promotion/nav-mogu-act.css-2779b85c.css,newtown/mogu-global/assets/pc/common/leftnav/index.css-c661bd4c.css,newtown/mogu-global/assets/pc/common/header/index.css-98f5e617.css ::::: */

body, dd, dl, form, ol, p, ul { margin: 0px; }
ol, ul { padding: 0px; list-style: outside none none; }
body, html { color: rgb(51, 51, 51); }
body, button, input, select, textarea { font: 12px/1.6 tahoma,arial,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; margin: 0px; }
button, input, select, textarea { font-size: 100%; }
a { text-decoration: none; color: rgb(51, 51, 51); }
a img { border: 0px none; vertical-align: middle; }
input, textarea { margin: 0px; padding: 0px; outline: medium none; }
table { border-collapse: collapse; border-spacing: 0px; }
.fl { float: left; }
.fl, .fr {  }
.pb40 { padding-bottom: 40px ! important; }
.clearfix::after { content: "."; display: block; height: 0px; font-size: 0px; clear: both; visibility: hidden; }
.clearfix {  }
.display_u { display: inline-block; }
.media_screen_1200 { min-width: 1200px; }
.media_screen_1200 .wrap { width: 1200px; margin-left: auto; margin-right: auto; }
.header_2015 { margin-bottom: 0px; background: rgb(242, 242, 242) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(221, 221, 221); height: 31px; }
.header_2015 .home { background: transparent url('o613k_ieygizrthfrdgyzymiytambqgqyde_15x26.png') no-repeat scroll 0px -5px; padding: 0px 20px; display: inline-block; line-height: 30px; vertical-align: top; margin-left: 20px; height: 30px; }
.header_2015 .header_top { float: right; }
.header_2015 .header_top .s1 { display: inline; position: relative; z-index: 100; float: left; margin: 0px 15px 0px 0px; height: 31px; }
.header_2015 .header_top .s1 a { float: left; overflow: hidden; margin-top: 8px; color: rgb(102, 102, 102); line-height: 14px; }
.header_2015 .header_top .s1:hover .ext_mode, .header_2015 .header_top .s1_on .ext_mode { display: block; }
.header_2015 .header_top .has_line > a { padding-left: 15px; border-left: 1px solid rgb(221, 221, 221); }
.header_2015 .header_top .has_icon { padding-right: 10px; }
.header_2015 .header_top .user_meta { background-image: none; }
.header_2015 .header_top .custom_item .icon_delta, .header_2015 .header_top .shoppingcard .icon_delta, .header_2015 .header_top .user_fav .icon_delta, .header_2015 .header_top .user_meta .icon_delta { position: absolute; width: 7px; height: 5px; top: 14px; right: 0px; background: transparent url('o613k_ieygizrthfrdgyzymiytambqgqyde_15x26.png') repeat scroll 0px 0px; }
.header_2015 .header_top .user_fav .ext_mode { width: 100px; }
.header_2015 .header_top .myorder { background: transparent url('upload_ie2wmzdehazwkztdgmzdambqhayde_100x400.png') no-repeat scroll 20px -212px; }
.header_2015 .header_top .myorder a { padding-left: 38px; }
.header_2015 .header_top .message_center { background-image: none; }
.header_2015 .header_top .message_center .m_num { display: none; float: right; padding-left: 0px ! important; margin-left: 5px; margin-top: 4px; width: 6px; height: 6px; border-radius: 3px; background-color: rgb(255, 68, 102); }
.header_2015 .header_top .myxiaodian { margin-right: 0px; background: transparent url('upload_ie2wmzdehazwkztdgmzdambqhayde_100x400.png') no-repeat scroll 12px -250px; }
.header_2015 .header_top .myxiaodian a { padding-left: 35px; }
.header_2015 .header_top .ext_mode { display: none; position: absolute; z-index: 999; width: 90px; top: 100%; left: -10px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 0px 0px 3px 3px; }
.header_2015 .header_top .custom_item .ext_mode { width: 100px; }
.header_2015 .header_top .s2 { margin-bottom: 2px; }
.header_2015 .header_top .s2 a { float: none; display: block; height: 28px; line-height: 28px; padding: 0px 20px; margin: 0px; overflow: hidden; color: rgb(68, 68, 68); }
.header_2015 .header_top .s2 .on, .header_2015 .header_top .s2 a:hover { background: rgb(228, 228, 228) none repeat scroll 0% 0%; }
.header_2015 .header_top .shopping_cart_v2 { background: transparent url('upload_ie2wmzdehazwkztdgmzdambqhayde_100x400.png') no-repeat scroll 12px -104px; }
.header_2015 .header_top .shopping_cart_v2 > a { padding-left: 38px; }
.header_2015 .header_top .shopping_cart_v2 .cart_info_wrap { position: relative; z-index: 10; display: inline-block; }
.header_2015 .header_top .shopping_cart_v2 .cart_info { display: inline-block; color: rgb(51, 51, 51); cursor: pointer; }
.header_2015 .header_top .shopping_cart_v2 .shopping_cart_loading { display: none; position: absolute; right: 0px; top: 31px; left: -90px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; border-radius: 0px 0px 5px 5px; border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; width: 200px; padding: 18px 0px; text-align: center; color: rgb(153, 153, 153); height: 18px; line-height: 18px; z-index: 1; }
.foot { overflow: hidden; margin-top: 90px; font-size: 12px; background: rgb(251, 251, 251) url('foot_ieydomrxmfswgnrymiytambqhayde_24x160.png') repeat-x scroll center top; }
.foot a:hover { text-decoration: underline; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
.mgj_rightbar { position: fixed; height: 100%; z-index: 9999; top: 0px; width: 30px; right: 0px; color: rgb(255, 255, 255); font-size: 12px; background: rgb(32, 32, 32) none repeat scroll 0% 0%; }
.mgj_rightbar #mgj_rightbar_blank_div { position: relative; top: 0px; right: 0px; height: 10%; width: 30px; }
.mgj_rightbar .sidebar-item { position: relative; padding: 4px 4px 0px; text-align: center; background: rgb(32, 32, 32) none repeat scroll 0% 0%; }
.mgj_rightbar .sidebar-item:hover { background-color: rgb(239, 47, 35); margin-top: -1px; }
.mgj_rightbar .sidebar-item:hover a { border-bottom: 0px none; padding-top: 1px; padding-bottom: 13px; }
.mgj_rightbar .sidebar-item a { display: block; color: rgb(255, 255, 255); text-align: center; line-height: 15px; border-bottom: 1px solid rgba(221, 221, 221, 0.6); padding-bottom: 12px; }
.mgj_rightbar .sidebar-item a .num { display: none; width: 20px; height: 20px; border-radius: 30px; color: rgb(255, 255, 255); text-align: center; line-height: 20px; background-color: rgb(239, 47, 35); margin-top: 5px; }
.mgj_rightbar .sidebar-item a:hover .num { color: rgb(239, 47, 35); background-color: rgb(255, 255, 255); }
.mgj_rightbar .sidebar-item .s-icon { background-position: -5px center; background-repeat: no-repeat; width: 30px; height: 30px; display: block; }
.mgj_rightbar .sideBottom { position: absolute; bottom: 10px; width: 30px; }
.mgj_rightbar .mgj-my-avatar:hover { background-color: rgb(32, 32, 32); }
.mgj_rightbar .mgj-my-avatar a img { border-radius: 10px; border: 1px solid rgb(255, 255, 255); }
.mgj_rightbar .mgj-my-cart { background: rgb(32, 32, 32) none repeat scroll 0% 0%; }
.mgj_rightbar .mgj-back2top { background: rgb(32, 32, 32) none repeat scroll 0% 0%; display: none; cursor: pointer; padding-top: 0px; padding-bottom: 0px; }
.mgj_rightbar .mgj-back2top a { border-bottom: medium none; border-top: 1px solid rgba(221, 221, 221, 0.6); padding-bottom: 0px; padding-top: 4px; }
.mgj_rightbar .mgj-back2top:hover { padding-bottom: 0px; background-color: rgb(239, 47, 35); margin-top: 0px; }
.mgj_rightbar .mgj-back2top:hover a { border-bottom: 0px none; border-top: 0px none; padding-top: 5px; padding-bottom: 0px; }
body, html {  }
.mgj_rightbar {  }
.mgj_rightbar .sidebar-item .s-icon { background-image: url('upload_iezdmoldgm2tmnrtgqzdambqmmyde_30x220.png'); background-repeat: no-repeat; }
.mgj_rightbar .mgj-my-cart .s-icon { background-position: -4px 0px; }
.mgj_rightbar .mgj-my-coupon .s-icon { background-position: -4px -30px; }
.mgj_rightbar .mgj-my-browserlog .s-icon { background-position: -4px -60px; }
.mgj_rightbar .mgj-my-wallet .s-icon { background-position: -4px -90px; }
.mgj_rightbar .mgj-back2top .s-icon { background-position: -3px -150px; }
.mgj_rightbar { z-index: 8000; }
.wrap { position: relative; }
.mu_wrap { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.mu_nav_wrap { float: left; width: 140px; margin-right: 20px; background: rgb(250, 250, 250) url('1blhwf_ieydemldmy4tombtmmytambqgiyde_5x40.gif') repeat scroll 0% 0%; }
.mu_content_wrap { float: left; width: 1040px; padding-bottom: 20px; }
.media_screen_1200 .mu_content_wrap { width: 1040px; }
.mu_nav_info { padding: 20px 0px; }
.mu_nav_info_avatar { position: relative; margin: 0px auto; padding: 5px; width: 100px; height: 100px; }
.mu_nav_info_avatar_mk { position: absolute; top: 0px; left: 0px; width: 110px; height: 110px; background: transparent url('ubzlo_kqzdgtcxkrbfq6cugfjeg5sckzsew_110x110.png') no-repeat scroll 0px 0px; }
.mu_nav_info_uname { padding: 0px 10px; text-align: center; font: 12px/32px helvetica,tahoma,arial,sans-serif; color: rgb(51, 51, 51); }
.mu_nav_info_avatar img { vertical-align: middle; border-radius: 50%; }
.mu_nav { padding: 0px 20px; }
.mu_nav .mu_title { cursor: pointer; border-top: 1px solid rgb(225, 225, 225); font: 16px/56px Microsoft YaHei,sans-serif; color: rgb(51, 51, 51); background: transparent url('1blhwf_ieydkyzwguzwgndemmytambqgyyde_9x180.png') no-repeat scroll 72px -3px; }
.mu_nav .mu_title a { display: block; }
.mu_nav .mu_nav_item { display: none; margin: 0px -20px 13px; font: 12px/26px helvetica,tahoma,arial,sans-serif; }
.mu_nav .mu_nav_item a { display: block; padding-left: 20px; color: rgb(102, 102, 102); }
.mu_nav .mu_nav_item a:hover { color: rgb(255, 51, 102); }
.mu_nav li.c a { color: rgb(255, 51, 102); cursor: default; font-weight: 700; }
.mu_expand .mu_title { background-position: 72px -64px; }
.mu_expand .mu_nav_item { display: block; }
.mu_nav_count { position: relative; font-weight: 800; color: rgb(255, 88, 150); font-style: normal; }
.header_mid { position: relative; clear: both; border-bottom: 2px solid rgb(255, 68, 102); }
.header_mid .logo { float: left; width: 250px; height: 60px; margin-top: 28px; margin-bottom: 20px; overflow: hidden; text-indent: -999em; background: transparent url('upload_ie4denjsgzrdqyleg4zdambqgiyde_207x51.png') no-repeat scroll 0% 0%; }
.header_mid .nav_mogu_qrcode { float: right; margin-top: 5px; border: 1px solid rgb(233, 233, 233); border-radius: 3px; padding: 5px; }
.header_mid .nav_mogu_qrcode p { color: rgb(68, 68, 68); line-height: 1; margin-top: 2px; }
.header_mid .nav_mogu_qrcode img { display: block; }
.top_nav_search { position: relative; z-index: 50; float: left; width: 502px; margin: 35px 0px 0px 132px; }
.top_nav_search .search_inner_box { border: 1px solid rgb(58, 58, 58); }
.top_nav_search .selectbox { position: relative; float: left; width: 70px; z-index: 10; }
.top_nav_search .selectbox .selected { display: block; height: 33px; line-height: 32px; padding-left: 12px; color: rgb(102, 102, 102); cursor: pointer; background-color: rgb(255, 255, 255); border-radius: 4px 0px 0px 4px; background-image: url('upload_ieytszrsgaytmm3cgmzdambqmeyde_100x400.png'); background-repeat: no-repeat; background-position: 51px -17px; }
.top_nav_search .selectbox ol { display: none; position: absolute; top: 100%; left: -1px; width: 70px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-width: 1px; border-style: solid; border-color: rgb(58, 58, 58) rgb(206, 206, 206) rgb(206, 206, 206); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.top_nav_search .selectbox li a { display: block; height: 30px; line-height: 30px; overflow: hidden; color: rgb(102, 102, 102); text-align: center; }
.top_nav_search .selectbox li a:hover { background: rgb(247, 247, 247) none repeat scroll 0% 0%; color: rgb(102, 102, 102); }
.top_nav_search .selectbox .current a { color: rgb(51, 51, 51); }
.top_nav_search .ts_txt { float: left; height: 21px; line-height: 20px; padding: 6px 10px 6px 6px; width: 344px; border: medium none; color: rgb(153, 153, 153); font-size: 12px; }
.top_nav_search .ts_btn { float: left; height: 33px; overflow: hidden; width: 70px; background-color: rgb(58, 58, 58); border: medium none; cursor: pointer; color: rgb(255, 255, 255); text-indent: -999em; background-image: url('upload_ieytszrsgaytmm3cgmzdambqmeyde_100x400.png'); background-repeat: no-repeat; background-position: 27px -57px; }
.top_nav_search .ts_hotwords { margin-left: -16px; white-space: nowrap; width: 518px; overflow: hidden; text-overflow: ellipsis; margin-top: 5px; }
.top_nav_search .ts_hotwords a { color: rgb(153, 153, 153); line-height: 1; padding: 0px 0px 0px 16px; }
.top_nav_search .top_search_hint { display: none; position: absolute; left: 0px; top: 33px; width: 500px; z-index: 999; font-size: 12px; background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(58, 58, 58) rgb(206, 206, 206) rgb(206, 206, 206); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	.header_mid .logo { background: transparent url('upload_ie4dmzlcgzrdqyleg4zdambqgiyde_414x102.png') no-repeat scroll 0% 0% / 207px auto; }
}
/* ::::: https://s10.mogucdn.com/__/mfp/meili-mgj-pc-bottom/assets/0.1.7/bottom.css ::::: */

.foot { overflow: hidden; min-height: 180px; margin-top: 0px; padding-top: 50px; padding-bottom: 60px; background: transparent none repeat scroll 0px 0px; }
.color_666 { color: rgb(102, 102, 102); }
.color_999 { color: rgb(153, 153, 153); }
.mgj_footer_helper a:hover, .mgj_footer_mgjinfo a:hover, .mgj_footer_otherlink a:hover { color: rgb(255, 85, 119); }
.media_screen_1200 .mgj_copyright { width: 1200px; }
.mgj_copyright { min-height: 180px; font-size: 12px; margin: 0px auto; font-family: "PingFang SC","Times New Roman","Microsoft YaHei","微软雅黑",STXihei,"华文细黑",serif; }
.mgj_footer_helper { width: 100%; height: 100px; border-bottom: 2px solid rgb(255, 87, 119); }
.mgj_footer_helper_mod { height: 100px; float: left; width: 25%; }
.mgj_footer_helper_mod_container { padding-left: 20px; width: 78%; }
.mgj_footer_helper_title { font-size: 14px; margin-left: 25px; margin-bottom: 10px; height: 25px; line-height: 25px; overflow: hidden; }
.mgj_footer_helper_item { float: left; display: inline-block; width: 80px; height: 20px; line-height: 20px; }
.mgj_footer_helper_item_last { position: relative; width: 62px; display: inline-block; }
.mgj_footer_helper_item_last:hover .mgj_footer_helper_quoer_code { display: block; }
.mgj_footer_helper_quoer_code { position: absolute; display: none; height: 70px; width: 70px; top: 27px; left: -17px; overflow: hidden; }
.mgj_footer_a { display: inline-block; }
.mgj_footer_b { margin: 0px 5px; font-weight: 400; }
.mgj_footer_mgjinfo { min-height: 20px; margin-top: 10px; overflow: hidden; }
.mgj_footer_mgjinfo_item { float: left; display: inline-block; width: 80px; height: 20px; line-height: 20px; }
.mgj_footer_copyright { margin-bottom: 8px; line-height: 27px; }
.mgj_footer_copyright a:hover { cursor: pointer; text-decoration: none; }
/* ::::: https://s10.mogucdn.com/__newtown/trade_tm_web/assets/pc/pages/list/index.css-78bddb64.css ::::: */

.ui-hide { display: none; }
.goods { width: 32%; }
.aftersale, .price { width: 11.7%; }
.quantity { width: 6.8%; }
.other, .status, .total { width: 12.5%; }
.order-title { position: relative; height: 40px; margin-bottom: 30px; line-height: 40px; background: rgb(250, 250, 250) url('1blhwf_ieydemldmy4tombtmmytambqgiyde_5x40_001.gif') repeat-x scroll 0% 0%; }
.order-debt::before { bottom: -8px; color: rgb(255, 135, 145); }
.order-debt::after, .order-debt::before { content: "◆"; position: absolute; right: 70px; width: 14px; height: 14px; margin-left: -4px; font: 14px/1 SimSun; }
.order-debt::after { bottom: -7px; color: rgb(255, 237, 239); }
.order-title-column li { float: left; font-weight: 700; text-align: center; }
.order-section { margin-bottom: 30px; }
.order-table { width: 100%; border: 1px solid rgb(255, 219, 130); }
.order-table:hover { border-color: rgb(255, 168, 32); }
.finished .order-table { border-color: rgb(236, 236, 236); }
.finished .order-table .order-table-header { background: rgb(244, 244, 244) none repeat scroll 0% 0%; }
.finished .order-table:hover { border-color: rgb(189, 187, 187); }
.order-table a:hover { color: rgb(255, 51, 102); }
.order-table .order-table-header { height: 40px; background: rgb(255, 247, 234) none repeat scroll 0% 0%; }
.order-table .order-table-header td { padding-left: 12px; color: rgb(102, 102, 102); }
.order-table .order-table-header td .order-info > span { margin-right: 30px; }
.order-table .order-table-header td .mogutalk_btn { float: right; margin-right: 12.6%; padding-right: 30px; }
.order-table .order-table-item td { padding: 20px 0px 0px; color: rgb(51, 51, 51); vertical-align: top; }
.order-table .order-table-item td.goods { padding-bottom: 10px; }
.order-table .order-table-item td.aftersale, .order-table .order-table-item td.goods, .order-table .order-table-item td.price, .order-table .order-table-item td.quantity { border-bottom: 1px solid rgb(236, 236, 236); }
.order-table .order-table-item.last td.aftersale, .order-table .order-table-item.last td.goods, .order-table .order-table-item.last td.price, .order-table .order-table-item.last td.quantity { border-bottom: medium none; }
.order-table .order-table-item td.other, .order-table .order-table-item td.status, .order-table .order-table-item td.total { border-left: 1px solid rgb(236, 236, 236); }
.order-table .order-table-item .goods { position: relative; }
.order-table .order-table-item .status p { margin-bottom: 8px; color: rgb(102, 102, 102); font-weight: 700; }
.order-table .order-table-item .tag-order-btn::after { content: "◆"; position: absolute; top: -6px; left: 50%; width: 12px; height: 12px; margin-left: -6px; color: rgb(247, 247, 247); font: 12px/1 SimSun; }
.order-table .order-table-footer { height: 56px; }
.order-table .order-table-footer td { border-top: 1px solid rgb(225, 225, 225); }
.order-table .order-table-footer ul li { float: left; display: inline-block; margin-left: 20px; }
.order-table .order-table-footer ul a { width: 66px; }
.order-table .order-table-footer .total { font-weight: 700; }
.order-table .order-table-footer .total span.sub { font-size: 12px; font-weight: 400; }
.order-table .order-table-footer .status p { color: rgb(102, 102, 102); font-weight: 700; }
.order-table .order-table-footer .other .order-btn { margin-bottom: 0px; }
.order-table .aftersale, .order-table .other, .order-table .price, .order-table .quantity, .order-table .status, .order-table .total { text-align: center; }
.order-table .goods .desc, .order-table .goods .pic { float: left; margin-left: 20px; }
.order-table .goods .pic { width: 70px; height: 70px; border: 1px solid rgb(221, 221, 221); border-radius: 3px; overflow: hidden; }
.order-table .goods .desc { line-height: 20px; width: 216px; }
.order-table .goods .desc .snapshot:hover { text-decoration: underline; }
.order-table .goods .desc p { color: rgb(153, 153, 153); }
.order-table .goods .desc .ui-tags-list { margin-top: 5px; }
.order-table .goods .desc .ui-tags-list .ui-tags-item { float: left; position: relative; margin-right: 7px; }
.order-table .goods .desc .ui-tags-list .ui-tags-item .ui-tag-pic { width: 16px; height: 16px; }
.order-table .goods .desc .ui-tags-list .ui-tags-item .ui-tag-text { position: absolute; top: -28px; left: 6px; }
.order-table .goods .desc .ui-tags-list .ui-tags-item .ui-tag-link { color: rgb(255, 255, 255); padding: 3px 7px; background: rgb(255, 68, 102) none repeat scroll 0% 0%; border-radius: 2px 2px 2px 0px; white-space: nowrap; }
.order-table .goods .desc .ui-tags-list .ui-tags-item .ui-icon-arrow { background: transparent url('upload_ifrgmmtegeytazjugyzdambqmeyde_5x4.png') no-repeat scroll 0% 0%; display: inline-block; width: 20px; height: 20px; }
.order-table .price, .order-table .quantity { font-weight: 700; }
.order-table .price .price-old { color: rgb(153, 153, 153); font-weight: 400; text-decoration: line-through; }
.order-table .total .total-price { font-size: 16px; }
.order-table .other .order-btn { margin-bottom: 8px; }
.order-table .delivery .delivery-detail::before { content: ""; display: block; position: absolute; top: -5px; left: 50%; width: 8px; height: 8px; margin-left: -4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-left: 1px solid rgb(204, 204, 204); border-top: 1px solid rgb(204, 204, 204); transform: rotate(45deg); }
.order-table .delivery .delivery-detail .inner ul li::before { content: "•"; float: left; margin-left: -1em; color: rgb(102, 102, 102); }
.order-table .icon, .order-table .order-promotion div { display: inline-block; }
.order-table .icon { padding-left: 20px; background: transparent url('1blhwf_ieydczrsgjrdozbumuytambqmmyde_119x206.png') no-repeat scroll 0% 0%; }
.order-table .icon.icon-contact { background-position: 0px 1px; }
.order-link { display: block; overflow: hidden; height: 20px; margin-bottom: 3px; color: rgb(69, 152, 200); }
.order-btn { display: inline-block; min-width: 52px; height: 22px; margin: 0px auto; padding: 0px 9px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(255, 51, 102); border-radius: 2px; color: rgb(255, 51, 102); line-height: 22px; font-weight: 700; }
.order-btn.primary { background: rgb(255, 51, 102) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.order-btn.disabled:hover, .order-btn.primary:hover { color: rgb(255, 255, 255); }
.promotionTopNavContainer { height: 50px; overflow: hidden; display: none; }
.wrap { position: relative; }
