html, body { margin: 0px; padding: 0px; }
.mogutalk_btn { display: block; text-indent: -99999px; }
.widget4 { background: transparent url('sp1ku_iezdizbwmi3temjugezdambqmmyde_1x1.gif') no-repeat scroll center center / 42px auto; }
