html, body { margin: 0px; padding: 0px; }
.mogutalk_btn { display: block; text-indent: -99999px; }
.default { background: transparent url('sp1ku_ieygin3dgeydoztbmiytambqmeyde_16x17.gif') repeat scroll 0% 0%; }
